Repository halildurmus/win32, pull requests merged in 2024-10, with the labels that each got.

#899 feat: add `SetClassLongPtr` function.
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/win32/user32.g.dart
  packages/win32/test/api_test.dart
Labels: p: generator, p: win32

#900 chore(release): v5.5.5
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Labels: p: win32

#901 chore: deprecate some constants
  examples/dump.dart
  examples/play_sound.dart
  examples/screenshot.dart
  packages/win32/CHANGELOG.md
  packages/win32/lib/fix_data/fix_win32/fix_constants.yaml
  packages/win32/lib/src/constants.dart
  packages/win32/lib/src/constants_nodoc.dart
  packages/win32/lib/src/enums.g.dart
  packages/win32/pubspec.yaml
  packages/win32/test_fixes/win32/constants.dart
  packages/win32/test_fixes/win32/constants.dart.expect
Labels: p: win32, examples

#902 chore: deprecate more constants
  packages/win32/CHANGELOG.md
  packages/win32/lib/fix_data/fix_win32/fix_constants.yaml
  packages/win32/lib/src/constants.dart
  packages/win32/test_fixes/win32/constants.dart
  packages/win32/test_fixes/win32/constants.dart.expect
Labels: p: win32

#903 chore: deprecate `isCOMInitialized` in favor of `isComInitialized`
  packages/win32/CHANGELOG.md
  packages/win32/lib/fix_data/fix_win32/fix_constants.yaml
  packages/win32/lib/fix_data/fix_win32/fix_properties.yaml
  packages/win32/lib/src/com/iunknown.dart
  packages/win32/lib/src/utils.dart
  packages/win32/test_fixes/README.md
  packages/win32/test_fixes/win32/properties.dart
  packages/win32/test_fixes/win32/properties.dart.expect
Labels: p: win32

#905 feat: SafeArray functions
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/win32/oleaut32.g.dart
  packages/win32/test/api_test.dart
Labels: p: generator, p: win32

#906 feat: add remaining `SafeArray*` APIs
  packages/generator/data/win32_functions.json
  packages/win32/CHANGELOG.md
  packages/win32/lib/src/win32/oleaut32.g.dart
  packages/win32/test/api_test.dart
Labels: p: generator, p: win32

#908 feat: add `SHGetLocalizedName` API
  packages/generator/data/win32_functions.json
  packages/win32/CHANGELOG.md
  packages/win32/lib/src/win32/shell32.g.dart
  packages/win32/pubspec.yaml
  packages/win32/test/api_test.dart
Labels: p: generator, p: win32

#910 chore(release): v5.6.0
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Labels: p: win32

#913 feat: add `RegisterDeviceNotification`, `WTSRegisterSessionNotification`
  packages/generator/data/win32_functions.json
  packages/generator/data/win32_structs.json
  packages/win32/CHANGELOG.md
  packages/win32/lib/src/constants.dart
  packages/win32/lib/src/enums.g.dart
  packages/win32/lib/src/structs.g.dart
  packages/win32/lib/src/win32/user32.g.dart
  packages/win32/lib/src/win32/wtsapi32.g.dart
  packages/win32/lib/win32.dart
  packages/win32/test/api_test.dart
  tools/struct_sizes/struct_sizes.cpp
Labels: p: generator, p: win32

#914 feat: add `WM_WTSESSION_CHANGE`, and `WTS_SESSION_*` constants
  packages/win32/CHANGELOG.md
  packages/win32/lib/src/constants.dart
Labels: p: win32

#915 chore(release): v5.6.1
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Labels: p: win32

#916 feat: add `UnregisterDeviceNotification` API
  packages/generator/data/win32_functions.json
  packages/win32/CHANGELOG.md
  packages/win32/lib/src/win32/user32.g.dart
  packages/win32/pubspec.yaml
  packages/win32/test/api_test.dart
Labels: p: generator, p: win32

#917 docs(examples): add example for monitoring USB drive events
  examples/usb_drive.dart
  packages/win32/example/README.md
Labels: p: win32, examples

#918 chore(release): v5.7.0
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Labels: p: win32

#919 docs: add example for accessing a .NET component via COM interop
  examples/com_interop/MySolution/.gitignore
  examples/com_interop/MySolution/MyLibrary/Class1.cs
  examples/com_interop/MySolution/MyLibrary/MyLibrary.csproj
  examples/com_interop/MySolution/MyLibrary/Properties/AssemblyInfo.cs
  examples/com_interop/MySolution/MySolution.sln
  examples/com_interop/README.md
  examples/com_interop/main.dart
  packages/win32/README.md
  packages/win32/example/README.md
Labels: p: win32, examples

#920 chore(release): v5.7.1
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Labels: p: win32
