Repository halildurmus/win32, pull requests merged in 2025-03, with the labels that each got.

#966 feat: add support for MoveFileEx
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/win32/kernel32.g.dart
  packages/win32/test/api_test.dart
Labels: package: generator, package: win32

#967 feat: add `MOVE_FILE_FLAGS` enum
  packages/win32/lib/src/enums.g.dart
Labels: package: win32

#969 feat: add more Kernel32 APIs
  packages/generator/data/win32_callbacks.json
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/callbacks.dart
  packages/win32/lib/src/enums.dart
  packages/win32/lib/src/enums.g.dart
  packages/win32/lib/src/win32/kernel32.g.dart
  packages/win32/test/api_test.dart
Labels: package: generator, package: win32

#970 chore(release): v5.12.0
  packages/win32/CHANGELOG.md
  packages/win32/cliff.toml
  packages/win32/pubspec.yaml
Labels: ci, package: win32, release

#973 feat: add the `WIN32_FILE_ATTRIBUTE_DATA` struct
  examples/fileinfo.dart
  packages/generator/data/win32_structs.json
  packages/win32/example/README.md
  packages/win32/lib/src/structs.g.dart
Labels: package: generator, package: win32, example

#974 feat: add extension methods to convert `FILETIME` to `DateTime`
  examples/fileinfo.dart
  packages/win32/lib/src/extensions/filetime.dart
  packages/win32/lib/win32.dart
  packages/win32/test/filetime_test.dart
Labels: package: win32, example

#975 feat: add `SetLastError` function
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/win32/kernel32.g.dart
  packages/win32/test/api_test.dart
  packages/win32/test/win32_basic_test.dart
Labels: package: generator, package: win32
