Repository halildurmus/win32, pull requests merged in 2025-01, with the labels that each got.

#944 feat: add `IsWindows8OrGreater` and `GetCurrentPackageFullName` APIs
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/inline.dart
  packages/win32/lib/src/win32/kernel32.g.dart
  packages/win32/test/api_test.dart
Labels: package: generator, package: win32

#945 chore(release): v5.10.0
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Labels: package: win32, release

#949 fix: `nodoc` deprecation fix
  packages/win32/dartdoc_options.yaml
  packages/win32/lib/src/constants_nodoc.dart
Labels: package: win32

#951 ci: set concurrency to 1 for generator
  .github/workflows/generator.yml
Labels: ci

#952 chore: perform LF normalization on `.golden` files
  .gitattributes
  packages/generator/test/goldens_test.dart
Labels: package: generator

#954 fix: fix `PRINTER_ENUM_*` constants
  packages/win32/lib/src/constants.dart
Labels: package: win32

#955 chore(release): v5.10.1
  packages/win32/CHANGELOG.md
  packages/win32/cliff.toml
  packages/win32/pubspec.yaml
Labels: ci, package: win32, release
